data/player_performances.csv 
data/player_profiles.csv 
data/player_market_value.csv 
data/player_injuries.csv 
data/player_national_performances.csv 
data/team_competitions_seasons.csv 
__pycache__/ 
*.pyc 
model.pkl 
model.pkl 
